<nav class="navbar navbar-expand-lg navbar-dark bg-dark h10 px-5 py-3 mb-5 shadow navItem">
    <div class="container-fluid ">
        <a class="navbar-brand" href="{{ path('app_home') }}">
{#            <img class="logoPrincipal" src="{{ asset('build/images/gabblerlogo.png') }}">#}

            Gabbler
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
{#                <li  class="nav-item btn"> <a class="btn btn-success" href="{{ path('app_client_index') }}">Liste des clients </a></li>#}
{#                <li  class="nav-item btn"> <a class="btn btn-success" href="{{ path('app_client_new') }}"> Ajouter un client </a></li>#}
{#                <li  class="nav-item btn" data-export> <a class="btn btn-success" href="#"> Exporter les données </a></li>#}
            </ul>
            </ul>
        </div>
    </div>
</nav>