{% extends 'base.html.twig' %}

{% block title %}Gabs index{% endblock %}

{% block body %}
    <h1>Gabs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
        {% for gab in gabs %}
            <tr>
                <td>{{ gab.id }}</td>
                <td>{{ gab.message }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_gabs_new') }}">Create new</a>
{% endblock %}
