{% extends 'base.html.twig' %}

{% block title %}New Gabs{% endblock %}

{% block body %}
    <h1>Create new Gabs</h1>

    {{ include('gabs/changeNameForm.html.twig') }}

    <a href="{{ path('app_home') }}">back to list</a>
{% endblock %}
